In [31]:
holder = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [40]:
second_highest = set([marks for name, marks in marksheet])
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

In [35]:
secondLowest = sorted([grade for name, grade in holder])[1]
print("\n".join([name for name, grade in sorted(holder) if grade == secondLowest]))

Berry
Harry

In [36]:
secondLowest

37.21

In [41]:
second_highest

{37.2, 37.21, 39, 41}

In [53]:
a = 1222311
#output : (1, 1) (3, 2) (1, 3) (2, 1)

In [51]:
from itertools import groupby
s=input()
for k,c in groupby(s):
    print((len(list(c)),int(k)),end=' ')

(1, 1) (1, 3) (1, 2) (2, 1) (1, 2) (1, 1)

In [63]:
groups = []
uniquekeys = []
for k, g in groupby(str(a)):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

In [64]:
groups

[['1'], ['2', '2', '2'], ['3'], ['1', '1']]

In [65]:
uniquekeys

['1', '2', '3', '1']